body, html {
  height: 100%;
}

div {
  margin: 0; 
}

.sticker {
  background-color: lightgray;
  padding: 5px;
}

main {
  width: 380px;
  height: 270px;
  background-color: lightseagreen;
  color: white;
  border-radius: 15px;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

section {
  background-color: white;
  color: black;
  height: 115px;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.5em;
  line-height: 115px;
  }

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.my-name {
  font-size: 2em;
  margin-bottom: 10px;
}

/* .input {
  margin: 20px;
  } */


  .flip-scale-down-diag-2 {
    animation: flip-scale-down-diag-2 0.5s infinite ease-in-out;
}

  @keyframes flip-scale-down-diag-2  {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  .color1 {
    background-color: pink;
  }

  .color2 {
    background-color: lightgreen;
  }

  .color3 {
    background-color: lightsteelblue;
  }